<!-- <div class="col-container bg-black center">
  <div
    class="col-container h-auto page-container p-8 center border-2 border-white border-round-2xl"
  >
    <div class="pb-5">
      <span class="p-float-label">
        <input pInputText id="email" type="email" [(ngModel)]="email" />
        <label for="email">Adresse mail</label>
      </span>
    </div>
    <div class="pb-5">
      <span class="p-float-label">
        <input pInputText id="username" type="text" [(ngModel)]="username" />
        <label for="username">Mot de passe</label>
      </span>
    </div>

    <p-button label="Se connecter"></p-button>
  </div>
</div> -->
