<!-- <div class="col-container bg-black">
  <div class="flex-column center m-auto border-1 border-white border-round-2xl">
    <div class="row-container p-4">
      <span class="p-float-label">
        <input pInputText id="firstname" type="text" [(ngModel)]="firstname" />
        <label for="firstname">Nom</label>
      </span>
      <span class="mx-5"></span>
      <span class="p-float-label">
        <input pInputText id="lastname" type="text" [(ngModel)]="lastname" />
        <label for="lastname">Prénom</label>
      </span>
    </div>
    <div class="row-container p-4">
      <span class="p-float-label">
        <input pInputText id="username" type="text" [(ngModel)]="username" />
        <label for="username">Nom d'utilisateur</label>
      </span>
      <span class="mx-5"></span>

      <span class="p-float-label">
        <input pInputText id="email" type="email" [(ngModel)]="email" />
        <label for="email">Adresse Email</label>
      </span>
    </div>
    <div class="row-container p-4">
      <span class="p-float-label">
        <input pInputText id="phone" type="number" [(ngModel)]="phone" />
        <label for="phone">Téléphone</label>
      </span>
      <span class="mx-5"></span>

      <span class="p-float-label">
        <p-calendar
          [(ngModel)]="birthDate"
          inputId="birthDate"
          dateFormat="dd.mm.yy"
          [iconDisplay]="'input'"
          [showIcon]="true"
          [style]="{ width: '90%' }"
          [inputStyle]="{ width: '10%' }"
        ></p-calendar>
        <label for="birthDate">Date de naissance</label>
      </span>
    </div>
    <div class="row-container p-4">
      <span class="p-float-label">
        <input
          pInputText
          id="password"
          type="password"
          [(ngModel)]="password"
        />
        <label for="password">Mot de passe</label>
      </span>
      <span class="mx-5"></span>

      <span class="p-float-label">
        <input
          pInputText
          id="confirmPassword"
          type="password"
          [(ngModel)]="confirmPassword"
        />
        <label for="confirmPassword">Vérifer le mot de passe</label>
      </span>
    </div>
    <div class="row-container p-4">
      <span class="p-float-label">
        <p-dropdown
          [options]="values"
          [(ngModel)]="sexe"
          optionLabel="name"
          inputId="float-label"
        ></p-dropdown>
        <label for="float-label">Vous êtes un(e)</label>
      </span>
      <span class="mx-5"></span>

      <span class="p-float-label">
        <input
          pInputText
          id="confirmPassword"
          type="password"
          [(ngModel)]="confirmPassword"
        />
        <label for="confirmPassword">Vérifer le mot de passe</label>
      </span>
    </div>
  </div>
</div> -->
